.vacation{
    display: inline-block;
    border: solid black 3px;
    margin: 5px;
}

.cardContainer{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.img{
    height: 180px;
}

.purchase{
    background-color: cornflowerblue;
    border-radius: 5px;
    padding: 5px 8px;
    color: rgb(255, 255, 255);
}

.purchase:hover{
    background-color: rgb(36, 96, 206);
    color: white;
    text-decoration: none;
}
