*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body,#root{
  height: 100vh;
}

.card-container{
  width: 90%;
}

.card{
  width: 18rem;
  margin: 10px;
}

.img{
  height: 12rem;
}


  /* from 1023px to 1200px */
  @media only screen and (max-width: 1200px) {
    :root {
      font-size: 0.9rem;
    }

    .card-container{
      width: 95%;
    }

    .card{
      width: 16rem;
      margin: 5px;
    }

    .img{
      height: 10rem;
    }
  }
  
  /* from 767px to 1023px */
  @media only screen and (max-width: 1023px) {
    :root {
      font-size: 0.8rem;
    }

  
  }
  
  /* from 520px to 767px */
  @media only screen and (max-width: 767px) {
    :root {
      font-size: 0.75rem;
    }

    .card-container{
      justify-content:space-evenly;
    }


  }
  
  /* up to 520px */
  @media only screen and (max-width: 520px) {
    :root {
      font-size: 0.7rem;
    }

    .card-Container{
      width: 98%;
    }

    .card-login {
      height: 60% !important;
      width: 80% !important;
    }  


  }

  @media only screen and (max-width: 480px) {
    :root {
      font-size: 0.5rem;
    }
  }

