
.purchaseVacation .img{
    width: 100%;
    height: auto;
} 

.purchaseVacation .header{
    position: relative !important;
    display: inline-block;
    width: 90%;
}

.purchaseVacation .destination{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 3px 3px 3px black;
    font-size: xx-large;
} 

.card-purchase button{
    width: 100px;
    margin-bottom: 10px;
}

.purchaseVacation input{
    width: 3rem;
    display: inline-block;
}

.card-purchase{
    width: 30rem;
}