.registration{
    height: 100vh;
    background-image: linear-gradient(180deg, rgb(185, 21, 122),rgb(0, 18, 180));
    text-align: center;
}
.card-registration{
    /* display: block !important;
    margin: auto; */
    
}

.card-registration>h1{
    margin-bottom: 20px;
    text-align: center;
}

.card-registration>button{
    display: block;
    margin: auto;
    padding: 5px 10px;
}

.card-registration input{
    display: block;
    margin: auto;
    height: 5%;
    width: 100%;
}

.error{
    font-size: 0.8rem;
    position: absolute;
    color: red !important;
    /* transform: translate(-50%,0); */
}

.input-box{
    width: 60%;
    margin: 25px auto;
    text-align: left;
}

